.header-container {
  width: 100%;
  background-color: #374f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
}

.header-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: none;
}

.menu-icon {
  color: white;
}

.menu-item {
  text-align: center;
}

.hidden {
  transform: translateY(-100%);
}

.visible {
  transform: translateY(0);
}
