.intro-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.typing {
  height: fit-content;
  padding: 1rem;
  color: black;
  position: relative;
}

.typingColorBox {
  background-color: orange;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 50%;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.bullet-list {
  list-style-type: none;
  padding-left: 0;
  font-family: monospace;
  font-weight: 550;
  text-decoration: underline;
  padding-top: 5rem;
  font-size: 1.25rem;
}

.bullet-list li {
  position: relative;
  padding-left: 20px;
  transition: transform 0.2s ease-in-out;
}

.bullet-list li:hover {
  transform: translateY(-3px) scale(1.1);
}

.bullet-list li::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #c57620;
}

.bullet-list li.clickable {
  cursor: pointer;
}

.scroll-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  font-weight: bold;
  z-index: 1000;
}

.bouncing-arrow {
  animation: bounceUpDown 1s infinite ease-in-out;
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
}

.work-link {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.work-link:hover {
  transform: translateY(-3px);
  text-decoration: underline;
}
