.intro-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.typing {
  height: fit-content;
  padding: 1rem;
  color: black;
  position: relative;
}

.typingColorBox {
  background-color: #374f2f;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 50%;
}

.bullet-list {
  list-style-type: none;
  padding-left: 0;
  font-family: monospace;
  font-weight: 600;
}

.bullet-list li {
  position: relative;
  padding-left: 20px;
  transition: transform 0.2s ease-in-out;
}

.bullet-list li:hover {
  transform: translateY(-3px) scale(1.1);
}

.bullet-list li::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bullet-list li.clickable {
  cursor: pointer;
}
