.intro-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.typing {
  height: fit-content;
  padding: 1rem;
  color: black;
  position: relative;
}

.typingColorBox {
  background-color: #c57620;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 45%;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.bullet-list {
  list-style-type: none;
  padding-left: 0;
  font-family: monospace;
  font-weight: 550;
  text-decoration: underline;
}

.bullet-list li {
  position: relative;
  padding-left: 20px;
  transition: transform 0.2s ease-in-out;
}

.bullet-list li:hover {
  transform: translateY(-3px) scale(1.1);
}

.bullet-list li::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #c57620;
}

.bullet-list li.clickable {
  cursor: pointer;
}

.scroll-arrow {
  position: fixed;
  top: 25%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  opacity: 0;
  animation: fadeMoveDown 1.2s ease-in-out forwards;
  z-index: 1000;
}

@keyframes fadeMoveDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(30px);
  }
}

.work-link {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.work-link:hover {
  transform: translateY(-3px);
  text-decoration: underline;
}
