.BackToTop {
  --diameter: 50px;
  --offset: 20px;

  position: fixed;
  bottom: var(--offset);
  right: var(--offset);
  width: var(--diameter);
  height: var(--diameter);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 2px solid var(--contrast-color);
  border-radius: 50%;
  box-shadow: 3px 3px 0px gray;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  z-index: 10;
}

.BackToTop-Visible {
  opacity: 1;
  pointer-events: auto;
}

.BackToTop-Invisible {
  opacity: 0;
  pointer-events: none;
}

.BackToTop:hover {
  box-shadow: 5px 5px 0px rgb(159, 159, 159);
  transform: scale(1.1);
}

.BackToTop-Icon {
  color: rgba(255, 166, 0, 0.811);
  transition: transform 0.3s ease-in-out;
}

.BackToTop:hover .BackToTop-Icon {
  transform: translateY(-5px);
}
